<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oops!</title>
  </head>
  <body>
    <!-- hbs uses {{parameter}} to pass the references-->
    <h1>Will be right back...</h1>
    <p>We are working on some maintenance for the site...</p>
  </body>
  <footer>
    <p> Copyright {{currentYear}}</p>
  </footer>
</html>
